@mixin gradient-grid {
  --grid-size: 2rem;
  background: var(--color-primary-9);
  background-image:
    linear-gradient(var(--color-primary-7) 1px, transparent 0),
    linear-gradient(90deg, var(--color-primary-7) 1px, transparent 0);
  background-size: var(--grid-size) var(--grid-size);
  animation: scroll 3s linear infinite;

  @keyframes scroll {
    from {
      background-position-y: 0;
    }
    to {
      background-position-y: var(--grid-size);
    }
  }

  &::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: linear-gradient(transparent 75%, var(--color-primary-9) 100%);
    background-size: 100%;
  }
}