---
import Layout from "../components/Layout.astro";
---

<Layout title="Facecam">
  <div></div>
</Layout>

<style lang="scss">
  div {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, var(--gradient-slinkity));
    box-shadow: 0 0.3rem 1rem black;

    &::after {
      content: "";
      position: absolute;
      inset: 0.7vw;
      background: var(--color-primary-7);
    }
  }
</style>
