---
const { text } = Astro.props;
---

<h1>
  <span class="accent">{text}</span>
  <span class="highlight">{text}</span>
  <span class="main">{text}</span>
  {text}
</h1>

<style lang="scss">
  h1 {
    line-height: 1;
    position: relative;
    font-size: 2.5rem !important;
    margin: 0;

    span.accent {
      color: var(--color-accent);
      animation: bholmesdev-neon-1 5s linear infinite;
    }
    span.highlight {
      color: var(--color-highlight);
      animation: bholmesdev-neon-2 5s linear infinite;
    }

    span {
      position: absolute;
      inset: 0;
      z-index: 0;
    }

    span.main {
      z-index: 1;
    }

    span.accent,
    span.highlight {
      opacity: 0.8;
    }

    @keyframes bholmesdev-neon-1 {
      0%,
      100%,
      20%,
      80% {
        transform: translate(0, 0);
        filter: blur(0.1rem);
      }
      33% {
        transform: translate(3px, 1px);
        filter: blur(0.3rem);
      }
      67% {
        transform: translate(1px, 3px);
        filter: blur(0.3rem);
      }
    }

    @keyframes bholmesdev-neon-2 {
      0%,
      100%,
      20%,
      80% {
        transform: translate(0, 0);
        filter: blur(0.1rem);
      }

      33% {
        transform: translate(-3px, -1px);
        filter: blur(0.3rem);
      }
      67% {
        transform: translate(-1px, -3px);
        filter: blur(0.3rem);
      }
    }
  }
</style>
